// globals.scss

@use "./variables.scss" as *;

:root {
  --contexify-zIndex: 666;
  --contexify-menu-minWidth: 220px;
  --contexify-menu-padding: 6px;
  --contexify-menu-radius: 6px;
  --contexify-menu-bgColor: #fff;
  --contexify-menu-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1),
    2px 4px 4px rgba(0, 0, 0, 0.1), 3px 6px 6px rgba(0, 0, 0, 0.1);
  --contexify-menu-negatePadding: var(--contexify-menu-padding);
  --contexify-separator-color: rgba(0, 0, 0, 0.2);
  --contexify-separator-margin: 5px;
  --contexify-itemContent-padding: 6px;
  --contexify-activeItem-radius: 4px;
  --contexify-item-color: #333;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #ffffff1f !important;
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #6f6e77;
  --contexify-activeArrow-color: #fff;
}

body {
  color: $text-color !important;
  background-color: $theme-color-1 !important;
  font-family: "Raleway", sans-serif !important;
}

.layout-box {
  display: flex;
  flex-direction: column;
}

.layout-container {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  max-width: none;
}

.folder-open__icon {
  color: $theme-color-5;
}

.react-contextmenu {
  width: 250px;
  background: $gray-border-1;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  box-shadow: 0 4px 32px rgba(6, 6, 6, 0.9);
  .react-contextmenu-item {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
    &:hover {
      background: $gray-border-2;
    }
  }
}

.contexify_itemContent {
  font-size: 13px;
}

.xterm-viewport {
  background-color: $theme-color-1 !important;
}

.mantine-Menu-item {
  padding-top: 5px;
  padding-bottom: 5px;
}
