// globals.scss

@use "./variables.scss" as *;

body {
  color: $text-color;
  background: $theme-color-1;
  font-family: "Inter", sans-serif;
}

.layout-box {
  display: flex;
  flex-direction: column;
}

.layout-container {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  max-width: none;
}

.folder-open__icon {
  color: $theme-color-5;
}
