@use "../../app/variables.scss" as *;

.close-tab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: none;
  background: none;
  color: $gray-border-3;
  cursor: pointer;
  transition: color 200ms ease;
  visibility: hidden;
  &:hover {
    color: $theme-color-4;
    background: $gray-border-1;
  }
}

.close-tab-button__visible {
  visibility: visible;
  border-radius: 4px;
}

.editor-view {
  width: -webkit-fill-available;
  .mantine-Tabs-root {
    width: inherit;
    .mantine-Tabs-list {
      width: 92%;
      border-bottom: 1px solid $gray-border-3;
      overflow-x: scroll;
      flex-wrap: nowrap;
      scroll-behavior: smooth;
      background-color: $theme-color-1;
    }
    .mantine-Tabs-list::-webkit-scrollbar {
      display: none;
    }
  }
}
