// HeroSection.scss
@use "../../app/variables.scss" as *;

.footer {
  margin-top: 50px;
  border-top: 1px solid var(--footer-border-color);
  --footer-border-color: var(--mantine-color-dark-5);
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);
}

.footer-links {
  @media (max-width: mantine.$mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-sm);
  }
  .footer-link {
    text-decoration: underline;
    text-decoration-color: var(--mantine-color-dimmed);
  }
}
