@use "../../variables.scss" as *;

/* workspace.scss */
.workspace-container {
  display: flex;
  flex: 1;
  width: 100vw; /* Ensures no horizontal scrolling */
  height: 100vh; /* Takes full viewport height */
  overflow: hidden; /* Prevents content from causing horizontal scroll */

  .explorer {
    flex: 0 0 21.85%; /* Fixed to 20.85% width */
    height: 100%; /* Fills height */
    overflow-y: auto; /* Scrollable if content exceeds height */
    border-right: 1px solid $gray-border-3;
    ::-webkit-scrollbar {
      display: none; /* Hides scrollbar */
    }
  }

  .editor-view {
    display: flex;
    // flex: 0 0 79.15%; /* Fills remaining space (79.15%) */
    height: 100%; /* Fills height */
    overflow: hidden; /* Prevents accidental horizontal scroll */
  }

  .terminal-section {
    background-color: $theme-color-1;
    display: flex;
    height: 40%; /* Fills height */
    overflow: hidden; /* Prevents accidental horizontal scroll */
    border: 1px solid $gray-border-3;
    width: 78.2%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
