@use "../../variables.scss" as *;

/* workspace.scss */
.workspace-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw; /* Ensures no horizontal scrolling */
  height: 100vh; /* Takes full viewport height */
  overflow: hidden; /* Prevents content from causing horizontal scroll */

  .explorer {
    flex: 0 0 auto;
    width: 350px;
    max-width: 350px;
    min-width: 200px;
    height: 100%;
    border-right: 1px solid $gray-border-3;
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .editor-view-box {
    display: flex;
    // flex: 0 0 79.15%; /* Fills remaining space (79.15%) */
    height: 100%; /* Fills height */
    overflow: hidden; /* Prevents accidental horizontal scroll */
    position: relative;
    width: -webkit-fill-available;
  }

  .terminal-section {
    left: 350px; // same as explorer width
    right: 0;
    height: 40%;
    position: absolute;
    bottom: 0;
    background-color: $theme-color-1;
    display: flex;
    overflow: hidden;
    border: 1px solid $gray-border-3;
  }

  .chat_view {
    max-width: 400px;
    min-width: 400px;
    border-left: 1px solid $gray-border-3;
  }

  .workspace-content {
    display: flex;
    height: 97.6vh;
    position: relative;
    overflow: hidden;
  }

  .workspace-footer {
    overflow: hidden;
    z-index: 11;
    bottom: 0px;
    position: absolute;
    width: inherit;
    background: $theme-color-5;
    height: 22px;
    font-size: 13px !important;
    border-top: 1px solid $gray-border-3;
  }
}
